<h3>Clientes</h3>
<div class="grid grid-pad">
  <a *ngFor="let cliente of clientes" class="col-1-4"
      routerLink="/detalhes/{{cliente.id}}"
      routerLink="/detalhes/{{cliente.cpf}}">
    <div class="module cliente">
      <h4>{{cliente.nome}}</h4>
    </div>
  </a>
</div>

<app-cliente-busca></app-cliente-busca>