<div id="search-component">
  <h4>Cliente Busca</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let cliente of clientes$ | async" >
      <a routerLink="/detalhes/{{cliente.id}}">
        <a routerLink="/detalhes/{{cliente.cpf}}">
        {{cliente.nome}}
      </a>
    </li>
  </ul>
</div>