<div *ngIf="cliente">
  
  <h2>{{cliente.nome | uppercase}} Detalhes</h2>
  <div><span>id: </span>{{cliente.id}}</div>
    <div><span>cpf: </span>{{cliente.cpf}}</div>
  <div>
    <label>nome:
      <input [(ngModel)]="cliente.nome" placeholder="nome">
    </label>
  </div>
  <button (click)="voltar()">Voltar</button>
  <button (click)="salvar()">Salvar</button>
</div>