<div *ngIf="mensagemService.mensagens.length">
  
    <h2>Mensagens</h2>
    <button class="clear"
            (click)="mensagemService.clear()">clear</button>
    <div *ngFor='let mensagem of mensagemService.mensagens'> {{mensagem}} </div>
  
  </div>