<h2>Clientes</h2>

<div>
  <label>Nome cliente:
    <input #nomeCliente />
  </label>
  <button (click)="add(nomeCliente.value); nomeCliente.value=''">
    add
  </button>
</div>

<ul class="clientes">
  <li *ngFor="let cliente of clientes">
    <a routerLink="/detalhes/{{cliente.id}}">
      <a routerLink="/detalhes/{{cliente.cpf}}">
      <span class="badge">{{cliente.id}}</span> 
      <span class="badge">{{cliente.cpf}}</span>
      {{cliente.nome}}
    </a>
    <button class="delete" title="deletar cliente"
      (click)="delete(cliente)">x</button>
  </li>
</ul>